:root {
  --green: #80ba39;
  --black: #2c2c2c;
  --dark-grey: #4b4b4b;
  --grey: #707070;
  --white: #f8f9fa;
  --red-dark: hsl(360, 67%, 44%);
  --transition: all 0.3s linear;
  --border-radius: 1.5rem;
}
html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: var(--transition);
    /* removes taps on mobile devices */
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
li,
p,
a {
  font-family: "Comfortaa", cursive;
}

header {
  width: 100%;
  height: 100vh;
  /* background-color: #EFEEEC; */
  background-image: url("../img/hero.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

nav {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-grey);
  position: fixed;
  z-index: 3;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
}

.hero {
  width: 100%;
  /* height: 88vh; */
  height: 100vh;
}

.greeting {
  width: 350px;
  height: 370px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 22%;
  left: 5%;
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5),
    0px 0px 10px rgba(0, 0, 0, 0.15);
  /* transform: rotate(-10deg); */
}

.greeting span {
  color: var(--dark-grey);
}
.greeting p span {
  color: var(--green);
  font-weight: bold;
}

.greeting h2 {
  font-size: 3rem;
  color: var(--green);
  margin-top: 1rem;
  /* font-weight: bold; */
}

.greeting p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
  color: var(--grey);
}

.greeting .button,
.address-info .map-btn {
  width: 150px;
  height: 45px;
  font-size: 1.1rem;
  font-family: inherit;
  outline: none;
  border-radius: 0.5rem;
  transition: all 0.2s linear;
  cursor: pointer;
  background-color: var(--green);
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 1),
    0px 0px 10px rgba(0, 0, 0, 0.25);
}

.greeting .button *,
.address-info .map-btn * {
  transition: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting .button:active > *,
.address-info .map-btn:active {
  transform: translate(-1px, -1px);
}

.greeting .button:active,
.address-info .map-btn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.greeting .button a,
.address-info .map-btn a {
  color: var(--black);
  font-weight: bold;
}

.logo img {
  height: 65px;
  width: 75px;
  transition: var(--transition);
}

.links {
  width: 85%;
  height: 100%;
  /* background-color: rgb(84, 153, 113); */
}

.links ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgba(218, 165, 32, 0.384); */
}

.links ul li {
  -webkit-animation: fadeInOpacity 1s;
  -moz-animation: fadeInOpacity 1s;
  -o-animation: fadeInOpacity 1s;
  animation: fadeInOpacity 1s;
}

.links a,
.action a,
.conditions {
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.2s linear;
}

.links a:hover,
.conditions:hover {
  color: var(--green);
}

.action {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--green);
  /* background-color: rgb(182, 185, 212); */
}

.action a {
  color: var(--green);
  margin-top: 1.4rem;
  -webkit-animation: fadeInOpacity 1s;
  -moz-animation: fadeInOpacity 1s;
  -o-animation: fadeInOpacity 1s;
  animation: fadeInOpacity 1s;
}

.action p {
  color: var(--green);
  margin-top: 0.3rem;
  /* transition: all 0.2s linear; */
}

.menu {
  width: 20%;
  height: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  -webkit-animation: fadeInOpacity 1s;
  -moz-animation: fadeInOpacity 1s;
  -o-animation: fadeInOpacity 1s;
  animation: fadeInOpacity 1s;
  /* background-color: rgba(218, 165, 32, 0.267); */
}

.menu p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--green);
}

.menu div {
  width: 25%;
  height: 50%;
  display: flex;
  align-items: center;
  /* background-color: goldenrod; */
}

.menu img {
  width: 25px;
  cursor: pointer;
  transition: all 0.5s linear;
  -webkit-animation: fadeInOpacity 1s;
  -moz-animation: fadeInOpacity 1s;
  -o-animation: fadeInOpacity 1s;
  animation: fadeInOpacity 1s;
}

.menu .menu-open {
  width: 30px;
}

.menu .menu-open:active,
.menu .menu-close:active {
  transform: scale(0.5);
}

/*  ----------- SIDEBAR -----------  */
.sidebar {
  position: fixed;
  top: 12vh;
  right: 5px;
  width: 38%;
  height: 40vh;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--dark-grey);
  z-index: 1;
  transition: all 0.6s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  transform: translateY(-120%);
}

.sidebar-show {
  transform: translateY(0) !important;
}

.sidebar .sidebar-menu {
  width: 100%;
  height: 100%;
  /* background-color: goldenrod; */
}

.sidebar-menu .menu-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.menu-links li {
  display: flex;
  margin-right: 1.5rem;
}

.menu-links li img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.menu-links a,
.subMenuCond {
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s linear;
  color: var(--white);
}

.menu-links a:hover,
.subMenuCond:hover {
  color: var(--green);
}

/*  ----------- MAIN -----------  */
main {
  width: 100%;
}

/*  ----------- DESCRIPTION -----------  */

#description {
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.desc-heading {
  width: 50%;
  height: 100%;
  text-align: center;
  margin-top: 20rem;
  /* background-color: aquamarine; */
}

.desc-heading h2 {
  font-size: 3rem;
  color: var(--green);
  /* position: relative; */
  z-index: 1;
}

.desc-img {
  width: 750px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-color: blue; */
}

.desc-img img {
  width: 100%;
  height: 100%;
}

.desc-info {
  width: 40%;
  height: 80%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: #efefef; */
  background-color: #efefef75;
  border-radius: var(--border-radius);
  box-shadow: inset 0px 3px 10px rgba(255, 255, 255, 0.226),
    rgba(0, 0, 0, 0.199) 0px 0px 10px;
}

.desc-info img {
  width: 120px;
  height: 110px;
  -webkit-animation: fadeInOpacity 1s;
  -moz-animation: fadeInOpacity 1s;
  -o-animation: fadeInOpacity 1s;
  animation: fadeInOpacity 1s;
}

.desc-info p {
  line-height: 1.3;
  font-size: 1.2rem;
  margin: 0 2rem;
  color: var(--grey);
}

/*  ----------- ICONS -----------  */

.icons {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark-grey);
  /* background-color: var(--black); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.icon-info {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color:blueviolet; */
  color: #fff;
}

.icon-info img {
  width: 100px;
  height: 95px;
}

.icon-info p {
  font-size: 1rem;
  transition: var(--transition);
  /* transition: all 2s linear; */
  text-align: center;
}

.icon-info:hover p {
  /* transform: translateY(-5px); */
  color: var(--green);
}

.icons .icon-info:nth-child(1) p {
  -webkit-animation: fade1 9s infinite;
  -moz-animation: fade1 9s infinite;
  -o-animation: fade1 9s infinite;
  animation: fade1 7.5s infinite linear;
}

.icons .icon-info:nth-child(2) p {
  -webkit-animation: fade2 9s infinite;
  -moz-animation: fade2 9s infinite;
  -o-animation: fade2 9s infinite;
  animation: fade2 7.5s infinite linear;
}

.icons .icon-info:nth-child(3) p {
  -webkit-animation: fade3 9s infinite;
  -moz-animation: fade3 9s infinite;
  -o-animation: fade3 9s infinite;
  animation: fade3 7.5s infinite linear;
}

.icons .icon-info:nth-child(4) p {
  -webkit-animation: fade4 9s infinite;
  -moz-animation: fade4 9s infinite;
  -o-animation: fade4 9s infinite;
  animation: fade4 7.5s infinite linear;
}

.icons .icon-info:nth-child(5) p {
  -webkit-animation: fade5 9s infinite;
  -moz-animation: fade5 9s infinite;
  -o-animation: fade5 9s infinite;
  animation: fade5 7.5s infinite linear;
}

/*  ----------- PRICES -----------  */

#prices {
  width: 100%;
  height: 115vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: grey; */
}

.prices-heading {
  width: 100%;
  height: 15%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--dark-grey); */
}

.prices-heading h2,
#necessary-info h2 {
  font-size: 3rem;
  color: var(--green);
}

.prices-info {
  width: 100%;
  height: 80%;
  /* background-color: burlywood; */
}

.pricelist {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: burlywood; */
}

.dog-price,
.cat-price {
  width: 30%;
  height: 90%;
  border-radius: 1.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: #dee2e68a; */
  background-color: #efefef;
  transition: all 0.25s linear;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px,
    inset 0px 3px 5px rgba(255, 255, 255, 1), 0px 0px 10px rgba(0, 0, 0, 0.25);
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  opacity: 0.65;
}

.show-pet {
  height: 92%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 1;
}

.pet-icon {
  margin-top: 1rem;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pet-icon img {
  width: 70px;
  height: 70px;
  transform: translate(5px, -5px);
}

.dog-price img {
  transform: translate(-5px, -5px);
}

.pet-icon p {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--grey);
  position: absolute;
  bottom: -4rem;
  transition: all 0.18s linear;
  opacity: 1;
}

.show-pet .pet-accom,
.show-pet .pet-accom-price,
.show-pet .pet-price .underline {
  opacity: 1;
}

.show-pet .pet-icon p {
  opacity: 0;
}

.pet-price {
  width: 100%;
  height: 65%;
  border-radius: 0 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--green);
  color: var(--dark-grey);
}

.pet-accom,
.pet-accom-price {
  width: 100%;
  height: 80%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  /* background-color: #f8f9fa; */
}

.pet-accom p {
  text-align: justify;
  margin: 0 2rem;
}

.pet-accom-price {
  height: 20%;
  color: var(--green);
}

.pet-price .underline {
  width: 60%;
  height: 2px;
  opacity: 0;
  background-color: var(--green);
}

/*  ----------- SERVICES -----------  */

#services {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  /* background-color: cornflowerblue; */
}

.serv-heading {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  /* background-color: cornsilk; */
}

.serv-heading h3 {
  font-size: 2.2rem;
  color: var(--green);
}

.serv-info {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-around;
  /* background-color: crimson; */
}

.serv-one,
.serv-two {
  width: 24%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: crimson; */
}

.serv-info img {
  width: 30px;
  height: 30px;
  transform: translateY(5px);
  margin-right: 0.5rem;
}

.serv-info p {
  font-size: 1.5rem;
  color: var(--dark-grey);
}

/*  ----------- GALLERY -----------  */

#gallery {
  padding: 20px;
  width: 100%;
  height: 88vh;
  display: grid;
  grid-gap: 20px;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* background-color: aquamarine; */
}

.pic {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--green);

}

.pic:hover img {
  transform: scale(1.05);
}

#gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}

/*  ----------- GALLERY Modal -----------  */

.modal-gallery,
.modal-conditions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  place-items: center;
  transition: var(--transition);
  /* display: grid; */
  z-index: -10;
  /* z-index: 10; */
}

.modal-conditions {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  z-index: -11;
}

/* OPEN/CLOSE MODAL */
.open-gallery-modal {
  display: grid;
  z-index: 10;
}

.open-con-modal {
  display: flex;
  z-index: 11;
}

/*  ----------- Gallery Container -----------  */
.gallery-container {
  border-radius: var(--border-radius);
  width: 45%;
  height: 60%;
  max-width: 60%;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
  border-top: 1px solid var(--green);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  transition: var(--transition);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.gallery-close-btn,
.left-btn,
.right-btn,
.cond-close-btn {
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease;
}

.left-btn {
  top: 40%;
  left: -5rem;
  /* background-color: violet; */
}

.right-btn {
  top: 40%;
  /* background-color: violet; */
  right: -5rem;
}

.left-btn img,
.right-btn img {
  width: 64px;
}

.gallery-close-btn img {
  width: 32px;
  /* opacity: 0.8; */
}

.gallery-close-btn:hover,
.right-btn:hover,
.left-btn:hover,
.cond-close-btn:hover {
  transform: scale(1.1);
  /* opacity: 1; */
}

.gallery-close-btn:active,
.right-btn:active,
.left-btn:active,
.cond-close-btn:active {
  transform: scale(1);
}

/*  ----------- Conditions Container -----------  */
.conditions-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  background-color: var(--grey);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
}
.conditions-header {
  width: 100%;
  height: 15%;
  display: grid;
  place-items: center;
  background-color: #686767;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.conditions-header h2 {
  font-size: 2.2rem;
  margin-top: 0.5rem;
  color: var(--green);
  /* background-color: yellow; */
}

.conditions-info {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color:burlywood; */
  padding: 0 0.5rem 0 0.2rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius);
}

.conditions-info li {
  text-align: justify;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  line-height: 1.3;
  color: #fff;
}

.conditions-info img {
  width: 40px;
  height: 40px;
  transform: translateY(0px);
}
.cond-close-btn {
  top: 0.7rem;

  /* background-color: blanchedalmond; */
}
.cond-close-btn img {
  width: 28px;
}

/*  ----------- NECESSARY STUFF ----------- */

#necessary-info {
  width: 100%;
  height: 88vh;
  background: url("../img/necessary.webp");
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.info-heading {
  width: 40%;
  height: 35%;
  text-align: center;
  margin-top: 2rem;
  /* background-color: goldenrod; */
}

.info-stuff {
  margin-top: 2rem;
  width: 50%;
  height: 40%;
  /* background-color: #707070; */
}

.info-stuff ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  overflow: hidden;
  /* background-color: #1c1c1c; */
}

.info-stuff ul li {
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;
  display: flex;
  color: var(--dark-grey);
  /* transition: var(--transition); */
  transform: translateX(100%);
}

.li1 {
  transition: all 0.4s linear;
}

.li2 {
  transition: all 0.5s linear;
}

.li3 {
  transition: all 0.6s linear;
}

.li4 {
  transition: all 0.7s linear;
}

.li5 {
  transition: all 0.8s linear;
}

.li6 {
  transition: all 0.9s linear;
}

.li7 {
  transition: all 1s linear;
}

.li8 {
  transition: all 1.1s linear;
}

ul li img {
  width: 22px;
  height: 22px;
  transform: translateY(2px);
  margin-right: 0.5rem;
}

/*  ----------- LOCATION -----------  */

#location {
  width: 100%;
  height: 85vh;
  /* background-color: rgb(138, 145, 74); */
}

.location-heading {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: darkblue; */
}

.location-heading h2 {
  font-size: 3rem;
  color: var(--green);
}

.location-info {
  width: 100%;
  height: 85%;
  display: flex;
  /* background-color: #707070; */
}

.address {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: aquamarine; */
}

.address-img {
  width: 55%;
  height: 50%;
  border-radius: 0.2rem;
  border: 1px solid var(--green);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* background-color: darkcyan; */
}
.address-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.address-info {
  width: 100%;
  height: 35%;
  text-align: center;
  color: var(--dark-grey);
  /* background-color: crimson; */
}

.address-info p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.address-info p:nth-child(1) {
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--green);
}

.address-info a {
  font-weight: bold;
  color: var(--dark-grey);
}

.address-info .map-btn {
  margin: 1rem auto;
  border-radius: 0.5rem;
  width: 35%;
  height: 23%;
}

/*  ----------- CONTACT -----------  */

.contact {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: #376e91; */
}

.contact-heading {
  width: 80%;
  height: 40%;
  line-height: 1.5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: var(--dark-grey);

  /* background-color: darkgoldenrod; */
}

.contact-social {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* background-color: darkred; */
}

.contact-social .social-dog {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  transform: translateY(5px);
}

.social-heading {
  width: 100%;
  height: 40%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  /* background-color: darksalmon; */
}

.social-links {
  width: 30%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  /* background-color: darkseagreen; */
}

.social-links a {
  display: flex;
  justify-content: center;
}

.social-links a img {
  width: 50px;
  height: 50px;
  transition: all 0.2s linear;
}

.social-links a img:hover {
  /* transform: scale(.95); */
  transform: translateY(-5px);
}

footer {
  width: 100%;
  height: 5vh;
  color: #fff;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey);
}

footer div {
  font-size: 0.7rem;
  color: var(--grey);
}

footer div a {
  font-size: 0.8rem;
  color: var(--green);
  text-decoration: none;
  font-weight: bold;
}

/*  ----------- Extra classes ----------- */

::selection {
  background-color: #b4cf8e;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.small {
  font-size: 0.9rem;
}

.hide {
  opacity: 0;
}

.show-hidden {
  opacity: 1;
}

.menu-open.hide-btn,
.menu-close.hide-btn {
  display: none;
}

img.hide-logo {
  height: 0 ;
  width: 0 ;
  opacity: 0 ;
}

.pointer-events {
  cursor: default;
  pointer-events: none;
}

.show {
  display: block;
}
.info-stuff ul li.show-links {
  transform: translateX(0);
}

.no-scrolling {
  overflow: hidden !important;
}

.width {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  color: #fff;
}

.blackSpan,
.greenSpan {
  color: var(--dark-grey);
  font-weight: bold;
  font-size: 1.9rem;
}

.greenSpan,
li.locateSection a {
  color: var(--green);
}
