@media screen and (max-width: 1364px) {
}

@media screen and (max-width: 1330px) {
  #gallery {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .desc-heading {
    width: 54%;
  }

  .desc-info {
    height: 84%;
  }
}

@media screen and (max-width: 1290px) {
  .desc-info p {
    margin: 0 1rem;
  }

  .desc-img {
    width: 730px;
    height: 280px;
  }

  .dog-price,
  .cat-price {
    width: 35%;
  }

  .serv-one,
  .serv-two {
    width: 30%;
  }

  #gallery {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .cond-close-btn img {
    width: 24px;
  }
}

@media screen and (max-width: 1250px) {
  .desc-img {
    width: 690px;
    height: 260px;
  }

  #gallery {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }

  .left-btn,
  .right-btn {
    top: 38%;
  }

  .conditions-container h2 {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 1200px) {
  .greeting {
    height: 300px;
    top: 20%;
    left: 3%;
  }

  .greeting p {
    font-size: 1.3rem;
    margin: 0 1.5rem;
  }

  .links a,
  .action a {
    font-size: 1.1rem;
  }

  .desc-info p {
    margin: 0 1rem;
  }

  .desc-img {
    width: 650px;
    height: 260px;
  }

  .icon-info {
    width: 18%;
  }

  .icon-info p {
    font-size: 0.9rem;
  }

  .pet-price .underline {
    margin: 0.5rem 0;
  }

  #gallery {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .gallery-container {
    width: 50%;
    max-width: 50%;
  }

  .address-img {
    width: 65%;
  }

  .conditions-container h2 {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 1120px) {
  #description {
    align-items: flex-start;
  }

  .desc-heading {
    width: 40%;
    margin-top: 8rem;
  }

  .desc-info {
    margin-top: 1.5rem;
    width: 50%;
    height: 65%;
  }

  .desc-info img {
    width: 105px;
    height: 95px;
  }

  .desc-img {
    width: 720px;
    height: 290px;
  }

  .dog-price,
  .cat-price {
    height: 88%;
    width: 38%;
  }

  .pet-hover {
    height: 91%;
  }

  .underline {
    height: 3px;
  }

  #gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .pic:hover img {
    transform: scale(1.06);
  }

  #gallery img {
    transition: all 0.35s linear;
  }

  #necessary-info h2 {
    font-size: 2.8rem;
  }

  .info-heading {
    margin-left: 1rem;
  }

  .contact-social .social-dog {
    width: 40%;
  }

  .conditions-container {
    width: 90%;
    height: 85%;
  }
}

@media screen and (max-width: 1024px) {
  .links ul li:nth-child(2),
  .links ul li:nth-child(3),
  .links ul li:nth-child(4),
  .links ul li:nth-child(5),
  .links ul li:nth-child(6) {
    display: none;
  }

  .links {
    width: 15%;
  }

  .links a,
  .action a {
    font-size: 1rem;
  }

  .action {
    width: 40%;
  }

  .action a {
    color: var(--white);
    font-size: 1.3rem;
  }

  .action p {
    color: var(--white);
  }

  .menu {
    display: flex;
  }

  .desc-info {
    margin-top: 2.5rem;
    width: 50%;
    height: 55%;
  }

  .desc-info img {
    display: none;
  }

  .greeting {
    width: 320px;
    top: 17%;
    left: 3%;
  }

  .dog-price,
  .cat-price {
    height: 85%;
    width: 40%;
  }

  .pet-hover {
    height: 88%;
  }

  .pet-icon {
    width: 100px;
    height: 100px;
  }

  .pet-icon img {
    width: 65px;
    height: 65px;
  }

  .serv-one,
  .serv-two {
    width: 36%;
  }

  #gallery {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-content: center;
  }

  .gallery-container {
    height: 50%;
    width: 50%;
    max-width: 50%;
  }

  .address-img {
    width: 75%;
  }

  .address-img iframe {
    opacity: 1;
  }

  .address-img:hover iframe {
    animation: none;
  }

  .contact-heading {
    height: 55%;
  }

  .contact-social {
    height: 45%;
  }

  .social-links a img {
    transition: all 0.15s linear;
  }

  .social-links a img:hover {
    transform: translateY(0);
  }

  .social-links a img:active {
    transform: scale(0.8);
  }

  .conditions-info {
    width: 95%;
    height: 85%;
    /* margin-right: 0.5rem; */
  }

  .conditions-container h2 {
    margin-top: 1.5rem;
    font-size: 1.75rem;
  }

  .cond-close-btn img {
    width: 22px;
  }

  .conditions-info li {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 900px) {
  header {
    background-position: center 50px;
  }

  .greeting {
    width: 270px;
    height: 270px;
    top: 16%;
    left: 2.5%;
  }

  .greeting h2 {
    font-size: 2.7rem;
  }

  .greeting p {
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 1rem;
  }

  .desc-heading {
    width: 35%;
  }

  .desc-heading h2,
  .location-heading h2,
  .prices-heading h2,
  #necessary-info h2 {
    font-size: 2.6rem;
  }

  .desc-info {
    width: 55%;
    height: 64%;
  }

  .desc-info p {
    font-size: 1.1rem;
    line-height: 1.3;
  }

  .desc-img {
    width: 630px;
    height: 240px;
  }

  .icon-info img {
    width: 75px;
    height: 75px;
  }

  .dog-price,
  .cat-price {
    height: 90%;
    width: 45%;
  }

  .pet-hover {
    height: 92%;
  }

  .serv-one,
  .serv-two {
    width: 42%;
  }

  .gallery-container {
    height: 55%;
    width: 60%;
    max-width: 60%;
  }

  #necessary-info h2 {
    margin-right: 1rem;
  }

  .info-stuff ul li {
    font-size: 1.1rem;
  }

  .info-stuff {
    width: 55%;
  }

  .address-img {
    width: 80%;
  }

  .address-info p {
    font-size: 1rem;
  }

  .address {
    width: 45%;
  }

  .contact {
    width: 55%;
  }

  .contact-heading {
    font-size: 1.6rem;
  }

  .social-heading {
    font-size: 1.4rem;
  }

  .social-links {
    width: 45%;
  }

  .blackSpan,
  .greenSpan {
    font-size: 1.7rem;
  }

  /* .conditions-info {
        margin-right: 0.8rem;
    } */

  .conditions-info img {
    width: 35px;
    height: 35px;
    align-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  header {
    background-position: -150px 50px;
  }

  .greeting {
    width: 270px;
    height: 220px;
  }

  .greeting p:nth-child(2) {
    display: none;
  }

  .desc-img {
    width: 590px;
    height: 220px;
  }

  .desc-heading {
    margin-top: 4rem;
  }

  .prices-heading {
    height: 15%;
  }

  .pet-price {
    height: 75%;
    font-size: 1rem;
  }

  .dog-price,
  .cat-price {
    height: 95%;
  }

  #gallery {
    height: 128vh;
  }

  #gallery {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .pic:hover img {
    transform: none;
  }

  .close-btn img {
    width: 28px;
  }

  .left-btn img,
  .right-btn img {
    width: 58px;
  }

  .close-btn:hover,
  .right-btn:hover,
  .left-btn:hover {
    transform: scale(1.05);
  }

  #necessary-info {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow: hidden;
  }

  .info-heading {
    width: 100%;
    height: 10%;
    text-align: center;
    margin-left: 0;
  }

  #necessary-info h2 {
    font-size: 2.47rem;
    margin-right: 0;
    margin-left: 0;
  }

  .info-stuff {
    width: 100%;
    margin-left: 1.5rem;
  }

  .location-info {
    flex-direction: column;
  }

  .address {
    height: 50%;
    width: 100%;
    flex-direction: row;
  }

  .address-img {
    width: 40%;
    height: 90%;
  }

  .address-info {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact {
    width: 100%;
    height: 50%;
  }

  .social-heading {
    display: none;
  }

  .contact-social {
    flex-direction: row;
  }

  .social-links {
    height: 100%;
    width: 40%;
    align-items: center;
    margin-left: 4.7rem;
  }

  .contact-social .social-dog {
    width: 30%;
  }

  .contact-heading p {
    font-size: 1.5rem;
  }

  .conditions-container {
    height: 88%;
  }
}

@media screen and (max-width: 700px) {
  header {
    background-position: -300px 50px;
  }

  .sidebar {
    width: 45%;
  }

  .greeting {
    width: 270px;
    height: 250px;
    top: 17.5%;
    left: 55%;
  }

  .greeting p:nth-child(2) {
    display: block;
  }

  #description {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .desc-heading {
    margin-top: 1rem;
    width: 100%;
    height: 10%;
  }

  .desc-heading h2,
  .location-heading h2,
  .prices-heading h2,
  #necessary-info h2,
  .info-heading h2 {
    font-size: 2.3rem;
  }

  .desc-info {
    width: 80%;
    height: 55%;
    margin-top: 1rem;
    margin-bottom: 11rem;
  }

  .desc-info p {
    margin: 0 1rem;
  }

  .desc-img {
    width: 460px;
    height: 160px;
  }

  .icons {
    height: 28vh;
    flex-wrap: wrap;
  }

  .icon-info {
    width: 120px;
    height: 150px;
  }

  .prices-heading {
    height: 12%;
  }

  .pet-icon {
    width: 90px;
    height: 90px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .pet-icon img {
    width: 60px;
    height: 60px;
  }

  .underline {
    height: 5px;
  }

  .pet-hover {
    height: none;
  }

  .pricelist {
    height: 65%;
  }

  .pet-price {
    height: 65%;
    font-size: 0.95rem;
  }

  .serv-one,
  .serv-two {
    width: 40%;
  }

  .serv-info p {
    font-size: 1.2rem;
  }

  #gallery {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .gallery-container {
    height: 50%;
  }

  .conditions-container {
    height: 90%;
  }

  .conditions-info {
    width: 92%;
    /* margin-right: 0.5rem; */
  }
}

@media screen and (max-width: 650px) {
  .links {
    width: 22%;
  }

  .action {
    width: 30%;
  }

  .menu {
    width: 27%;
  }

  header {
    background-position: -335px 50px;
  }

  .greeting {
    left: 50%;
  }

  .icons {
    height: 47vh;
    flex-wrap: wrap;
  }

  .icon-info {
    width: 130px;
    height: 150px;
  }

  .prices-info {
    height: 90%;
  }

  #prices {
    height: 180vh;
  }

  .pricelist {
    height: 80%;
    flex-direction: column;
  }

  .prices-heading {
    height: 5%;
  }

  .dog-price,
  .cat-price {
    height: 45%;
    width: 65%;
  }

  #services {
    height: 20%;
  }

  .serv-one,
  .serv-two {
    width: 45%;
  }

  .serv-info img {
    margin-left: 3rem;
  }

  .desc-heading h2,
  .location-heading h2,
  .prices-heading h2,
  #necessary-info h2,
  .info-heading h2 {
    font-size: 2.1rem;
  }

  .gallery-container {
    height: 47%;
  }

  .blackSpan,
  .greenSpan {
    font-size: 1.5rem;
  }

  .conditions-container h2 {
    font-size: 1.7rem;
  }

  .conditions-info {
    width: 92%;
  }

  .cond-close-btn img {
    width: 20px;
  }

  .conditions-info li {
    font-size: 1rem;
  }

  .conditions-info img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 620px) {
  header {
    background-position: -355px 50px;
  }

  .greeting {
    left: 48%;
  }

  .conditions-info {
    width: 94%;
  }

  .conditions-container h2 {
    margin-top: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    background-position: -385px 50px;
  }

  .greeting {
    top: 16%;
    left: 38%;
  }

  .sidebar {
    width: 55%;
  }

  .action {
    width: 40%;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .menu .menu-open {
    width: 22px;
  }

  .menu .menu-close {
    width: 18px;
  }

  .menu-links a,
  .subMenuCond {
    font-size: 1.2rem;
  }

  .logo img {
    height: 60px;
    width: 70px;
  }

  .desc-info {
    width: 90%;
  }

  .desc-img {
    width: 445px;
    height: 160px;
  }

  #prices {
    height: 230vh;
  }

  .pricelist {
    height: 60%;
  }

  .dog-price,
  .cat-price {
    height: 45%;
    width: 75%;
  }

  #services {
    height: 35%;
  }

  .serv-info {
    flex-direction: column;
    align-items: flex-end;
  }

  .serv-one,
  .serv-two {
    width: 75%;
  }

  #gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .gallery-container {
    height: 40%;
    width: 85%;
    max-width: 90%;
  }

  .gallery-close-btn {
    right: 0;
    top: -3rem;
  }

  .close-btn {
    top: 0.8rem;
  }

  .close-btn img {
    width: 25px;
  }

  .left-btn img,
  .right-btn img {
    width: 40px;
  }

  .left-btn {
    left: 25%;
    bottom: -14.5rem;
  }

  .right-btn {
    right: 25%;
    bottom: -14.5rem;
  }

  #necessary-info {
    background-position: -130px;
  }

  .address {
    height: 40%;
  }

  .address-img {
    display: none;
  }

  .address-info {
    width: 100%;
  }

  .address-info p {
    font-size: 1.2rem;
  }

  .contact {
    height: 60%;
  }

  .contact-heading p {
    font-size: 1.2rem;
  }

  .contact-social .social-dog {
    width: 45%;
  }

  .social-links {
    margin-left: 3rem;
  }

  .social-links a img {
    width: 45px;
    height: 45px;
  }

  .conditions-container {
    height: 95%;
  }

  .conditions-info {
    height: 140%;
  }

  .conditions-container h2 {
    margin-top: 2.2rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }

  .conditions-info li {
    font-size: 0.95rem;
    line-height: 1.4;
  }

  .conditions-container button {
    top: 0.5rem;
    right: 0.8rem;
  }

  .conditions-info img {
    width: 22px;
    height: 22px;
    margin-right: 0.3rem;
  }
}

@media screen and (max-width: 480px) {
  header {
    background-position: -390px 60px;
    background-size: 960px;
  }

  .action a {
    font-size: 1.2rem;
  }

  .greeting {
    top: 16%;
    left: 32%;
    height: 230px;
  }

  .greeting h2 {
    margin-top: 0.2rem;
    font-size: 2.3rem;
  }

  .greeting p {
    font-size: 1.1rem;
  }

  .sidebar {
    width: 68%;
  }

  .desc-heading {
    height: 9%;
  }

  .desc-info {
    margin-top: 0.5rem;
    height: 60%;
    margin-bottom: 8rem;
  }

  .blackSpan,
  .greenSpan {
    font-size: 1.4rem;
  }

  .desc-img {
    width: 425px;
    height: 160px;
  }

  #prices {
    height: 160vh;
  }

  .pricelist {
    height: 65%;
  }

  .dog-price,
  .cat-price {
    width: 360px;
  }

  #services {
    height: 30%;
  }

  .serv-one,
  .serv-two {
    width: 72%;
  }

  #gallery {
    height: 280vh;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .gallery-container {
    height: 35%;
    width: 90%;
  }

  /* .left-btn { */
  /* left: 25%; */
  /* bottom: -14.5rem; */
  /* } */

  /* .right-btn { */
  /* right: 25%; */
  /* bottom: -14.5rem; */
  /* } */

  .gallery-close-btn img {
    width: 24px;
  }

  #necessary-info {
    background-position: -150px;
  }

  .info-stuff {
    margin-left: 0.8rem;
  }

  .conditions-container {
    width: 92%;
  }

  .conditions-info {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .conditions-info::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
  }

  .conditions-info li:nth-child(1) {
    margin-top: 8rem;
  }

  .conditions-info li {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 430px) {
  header {
    background-position: -285px 80px;
  }

  .greeting {
    top: 15%;
    left: 7%;
    width: 240px;
  }

  .greeting h2 {
    font-size: 2rem;
  }

  .sidebar {
    width: 74%;
    right: 10px;
  }

  .links {
    width: 23%;
  }

  .action {
    width: 54%;
  }

  .menu {
    width: 23%;
  }

  .menu p {
    display: none;
  }

  .desc-img {
    width: 355px;
    height: 155px;
  }

  .icons {
    height: 70vh;
  }

  #prices {
    height: 140vh;
  }

  .pricelist {
    height: 70%;
  }

  .dog-price,
  .cat-price {
    width: 330px;
  }

  .pet-icon {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .pet-icon img {
    width: 55px;
    height: 55px;
  }

  .serv-one,
  .serv-two {
    width: 85%;
  }

  .serv-heading h3 {
    font-size: 1.8rem;
  }

  .serv-info p {
    font-size: 1.15rem;
  }

  #gallery {
    height: 260vh;
  }

  .gallery-container {
    height: 28%;
  }

  .desc-heading h2,
  .location-heading h2,
  .prices-heading h2,
  #necessary-info h2,
  .info-heading h2 {
    font-size: 2rem;
  }

  .info-stuff ul li {
    font-size: 1.15rem;
  }

  .info-stuff {
    margin-left: 0.5rem;
    height: 45%;
  }

  .address {
    height: 55%;
  }

  .contact {
    height: 45%;
  }

  .address-info p {
    font-size: 1.1rem;
  }

  .social-links {
    margin-left: 1rem;
  }

  .contact-social .social-dog {
    width: 55%;
  }

  .conditions-container h2 {
    font-size: 1.2rem;
  }

  .conditions-info li:nth-child(1) {
    margin-top: 13rem;
  }

  .cond-close-btn img {
    width: 15px;
  }

  .address-info .map-btn {
    height: 23%;
  }
}

@media screen and (max-width: 360px) {
  .links {
    width: 30%;
  }

  .action {
    width: 50%;
  }

  .action a {
    font-size: 1.1rem;
  }

  .menu {
    width: 20%;
  }

  .dog-price,
  .cat-price {
    width: 320px;
  }

  #prices {
    height: 150vh;
  }

  .desc-info {
    height: 90%;
    margin-bottom: 9.5rem;
  }

  .info-stuff {
    width: 98%;
  }

  .conditions-container h2 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 350px) {
  .logo img {
    height: 45px;
    width: 55px;
  }

  header {
    background-position: -325px 80px;
  }

  .menu-links a,
  .subMenuCond {
    font-size: 1.1rem;
  }

  .desc-info {
    height: 90%;
    margin-bottom: 9rem;
  }

  .desc-info p {
    font-size: 1.05rem;
  }

  .desc-img {
    width: 315px;
    height: 140px;
  }

  .dog-price,
  .cat-price {
    width: 300px;
  }

  #gallery {
    height: 240vh;
  }

  .info-stuff ul li {
    font-size: 1.05rem;
  }

  .serv-heading h3 {
    font-size: 1.6rem;
  }

  .serv-info p {
    font-size: 1.1rem;
  }

  .desc-heading h2,
  .location-heading h2,
  .prices-heading h2,
  #necessary-info h2,
  .info-heading h2 {
    font-size: 1.8rem;
  }

  .address-info p {
    font-size: 1.05rem;
  }

  .contact-heading p {
    font-size: 1.1rem;
  }

  .conditions-info li:nth-child(1) {
    margin-top: 15rem;
  }

  .sidebar {
    width: 79%;
  }

  .menu-links li {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 350px) and (max-width: 375px) and (min-height: 569px) and (max-height: 667px) {
  header {
    background-position: -285px 75px;
  }

  .greeting p:nth-child(2) {
    display: none;
  }

  .conditions-info li:nth-child(1) {
    margin-top: 11rem;
  }

  .greeting {
    height: 220px;
  }
}

@media screen and (min-width: 350px) and (max-width: 375px) and (min-height: 668px) and (max-height: 812px) {
  .greeting {
    height: 220px;
  }

  .greeting p:nth-child(2) {
    display: none;
  }

  .conditions-info li:nth-child(1) {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) and (min-height: 668px) and (max-height: 812px) {
  header {
    background-position: -285px 88px;
  }

  .greeting {
    height: 220px;
  }

  .greeting p:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) and (min-height: 813px) and (max-height: 896px) {
  header {
    background-position: -285px 101px;
  }

  .greeting {
    height: 220px;
  }

  .greeting p:nth-child(2) {
    display: none;
  }

  .conditions-info li:nth-child(1) {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 415px) and (max-width: 428px) and (min-height: 897px) and (max-height: 926px) {
  header {
    background-position: -285px 101px;
  }

  .greeting {
    height: 220px;
  }

  .greeting p:nth-child(2) {
    display: none;
  }

  .conditions-info li:nth-child(1) {
    margin-top: 2rem;
  }
}

/* Iphone 5 */
@media screen and (max-width: 350px) and (max-height: 568px) {
  header {
    background-position: -325px 10px;
  }

  .links {
    width: 25%;
  }

  .greeting {
    height: 180px;
    left: 5%;
  }

  .greeting p:nth-child(2) {
    display: none;
  }

  #description {
    height: 90vh;
  }

  .desc-info {
    margin-bottom: 8rem;
    margin-top: 0.5rem;
  }

  .desc-info p {
    font-size: 1rem;
  }

  .desc-heading {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .desc-img {
    height: 130px;
    width: 320px;
  }

  .icons {
    height: 80vh;
  }

  #prices {
    height: 220vh;
  }

  .address {
    height: 55%;
  }

  .contact {
    height: 45%;
  }

  #necessary-info {
    background-position: -140px;
  }

  ul li img {
    width: 18px;
    height: 18px;
  }

  .conditions-info li:nth-child(1) {
    margin-top: 21rem;
  }

  .gallery-container {
    height: 32%;
  }

  .gallery-close-btn img {
    width: 24px;
  }

  .blackSpan,
  .greenSpan {
    font-size: 1.3rem;
  }
}

/* LANDSCAPE */

@media screen and (max-height: 400px) and (orientation: landscape) {
  header {
    height: 220vh;
    background-position: -365px 10px;
  }

  nav {
    height: 18vh;
  }

  .sidebar {
    top: 18vh;
    height: 65%;
  }

  .greeting {
    top: 11%;
    left: 50%;
  }

  #description {
    height: 160vh;
  }

  .desc-info {
    margin-bottom: 10rem;
  }

  .icons {
    height: 95vh;
  }

  #prices {
    height: 290vh;
  }

  #gallery {
    height: 220vh;
  }

  .gallery-container {
    height: 80%;
    width: 60%;
  }

  .left-btn,
  .right-btn {
    top: 42%;
  }

  .right-btn {
    right: -4rem;
  }

  .left-btn {
    left: -4rem;
  }

  #necessary-info {
    height: 150vh;
    background-position: 0px;
  }

  #necessary-info h2 {
    margin: 0 1rem;
  }

  #location {
    height: 150vh;
  }

  footer {
    height: 8vh;
  }
}

@media screen and (min-width: 568px) and (max-width: 667px) and (max-height: 400px) and (orientation: landscape) {
  .gallery-container {
    height: 65%;
    width: 65%;
  }
}

@media screen and (min-width: 667px) and (max-width: 700px) and (max-height: 400px) and (orientation: landscape) {
  .logo a {
    margin-left: 1rem;
  }

  .logo img {
    margin-right: 0;
  }

  header {
    height: 200vh;
    background-position: -365px 10px;
  }

  .greeting {
    top: 13%;
  }

  #description {
    height: 135vh;
  }

  .desc-info {
    margin-bottom: 10rem;
  }

  .icons {
    height: 50vh;
  }

  #prices {
    height: 240vh;
  }

  .prices-info {
    height: 88%;
  }
}

@media screen and (min-width: 700px) and (max-width: 812px) and (max-height: 400px) and (orientation: landscape) {
  .icons {
    height: 50vh;
  }

  #prices {
    height: 200vh;
  }
}

@media screen and (min-width: 812px) and (max-width: 830px) and (max-height: 400px) and (orientation: landscape) {
  #gallery {
    height: 180vh;
  }

  .desc-info {
    height: 55%;
  }

  .right-btn {
    right: -5rem;
  }

  .left-btn {
    left: -5rem;
  }
}

@media screen and (min-width: 830px) and (max-width: 850px) and (max-height: 400px) and (orientation: landscape) {
  .icons {
    height: 50vh;
  }

  #prices {
    height: 195vh;
  }

  #gallery {
    height: 180vh;
  }

  #necessary-info {
    height: 130vh;
  }

  .right-btn {
    right: -6rem;
  }

  .left-btn {
    left: -6rem;
  }
}

@media screen and (min-width: 896px) and (max-width: 926px) and (min-height: 400px) and (max-height: 428px) and (orientation: landscape) {
  nav {
    height: 18vh;
  }

  .sidebar {
    top: 18vh;
    height: 65%;
  }

  header {
    height: 200vh;
    background-position: -345px 10px;
  }

  .greeting {
    top: 11%;
    left: 60%;
  }

  #description {
    height: 135vh;
  }

  .icons {
    height: 38vh;
  }

  .icon-info img {
    width: 52%;
    height: 42%;
  }

  #prices {
    height: 180vh;
  }

  #gallery {
    height: 180vh;
  }

  #necessary-info {
    height: 120vh;
  }

  #location {
    height: 130vh;
  }

  footer {
    height: 8vh;
  }
}
